@import url('https://fonts.cdnfonts.com/css/google-sans');

:root {
    --secondery-color: #e9ff92;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans', sans-serif;
}

body {
    background-color: #031403;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    gap: 2rem;
    grid-template-areas: "header header" "sidebar todo-container";
}

.header {
    grid-area: header;
    /* background-color: #fff; */
    border-bottom: 1px solid var(--secondery-color);
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    
}

.header > p {
    font-size: 5rem;
    color: var(--secondery-color);
    /* padding: 1rem 2rem; */
}


.sidebar {
    grid-area: sidebar;
    /* background-color: #fff; */
    border-right: 1px solid #e9ff92;
    width: 50%;
}

.todo-container {
    grid-area: todo-container;
    display: flex;
    gap: 2rem;
    
}

.todo-card {
    border: 1px solid #e9ff92;
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 0px #e9ff92;
}

.add-btn {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    background-color: #031403;
    box-shadow: 4px 2px 0px #e9ff92;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid #e9ff92;

}

.add-btn > p {
    /* filter: invert(1); */
    font-size: 3rem;
}

.add-todo{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.add-todo-display {
    display: flex;
}